$card-background-color: #FFFFFF;
$card-shadow: 0px 0px 10px rgba($color: #000, $alpha: 0.1);

.card-container {
    width: 100%;
    padding: 20px;
    background-color: $card-background-color;
    box-shadow: $card-shadow;
    border: none;
    border-radius: 5px;
}