<div class="input-container">
    <label 
        *ngIf="this.label"
        class="input-label">
        {{ this.label }}
    </label>
    <div class="input-wrapper">
        <input 
            class="input-component" 
            [placeholder]="this.placeholder"
            [value]="this.value ?? ''"
            (click)="this.onClick.emit($event)"
            (blur)="this.onBlur.emit($event)"
            (input)="this.onInputChange($event)" />
            
        <button class="input-search-button" *ngIf="this.kind === 'searchbar'">
            <mat-icon>search</mat-icon>
        </button>
    </div>
</div>
