$modal-background-color: #FFFFFF;
$modal-shadow: 0px 0px 10px rgba($color: #000, $alpha: 0.1);

.modal-wrapper {
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.5);
    
    position: absolute;
    top: 0;
    left: 0;

    z-index: 99;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .modal-container {
        width: 100%;
        max-width: 450px;
        padding: 20px;
        background-color: $modal-background-color;
        border: none;
        border-radius: 5px;

        box-shadow: $modal-shadow;

        .modal-header-container {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .modal-header-title {
                font-size: 20pt;
                font-weight: 600;
            }

            .modal-close-button {
                width: 18px;
                height: 18px;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                background-color: transparent;
                border: none;

                cursor: pointer;

                mat-icon {
                    font-size: 16pt;
                } 
            }
        }
    }
}