$home-header-title-color: #858585;
$home-card-title: #1B4965;
$home-header-title-subtext-color: #FFA500;

.home-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: normal;
    justify-content: flex-start;
    gap: 20px;

    .home-header-container-wrapper {
        position: sticky;
        top: 0;
        left: 0;
        z-index: 99;
    }

    .home-header-container {
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        flex-wrap: wrap;

        .home-header-title {
            font-size: 28pt;
            font-weight: 800;
            color: $home-header-title-color;

            span {
                font-weight: 600;
                color: $home-header-title-subtext-color;
            }
        }

        .home-searchbar-container {
            width: 100%;
            max-width: 300px;
        }
    }

    .home-content-container {
        .home-content-title {
            font-size: 16pt;
            font-weight: 600;
        }

        .home-content-schools-data {
            margin-top: 25px;
            display: flex;
            flex-direction: column;
            align-items: normal;
            justify-content: flex-start;
            gap: 20px;

            .home-content-wrapper {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                .home-content-school-info {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    
                    h3 {
                        font-size: 16pt;
                        font-weight: 600;
                        color: $home-card-title;
                    }

                    p  {
                        font-size: 14pt;
                    }
                }

                .home-content-details {
                    width: 100%;

                    label {
                        font-weight: 600;
                        color: $home-header-title-subtext-color;
                    }

                    .home-info-list {
                        list-style: none;
                        margin-top: 10px;

                        .list-item {
                            font-size: 14pt;

                            span {
                                font-size: 14pt;
                                font-weight: 600;
                            }
                        }

                        .list-item:nth-child(1) {
                            margin-bottom: 20px;
                        }
                    }
                }

                .home-info-buttons {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    gap: 10px;
                    margin-top: 30px;
                }
            }
        }
    }
}